.cards {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 51px 0 0 0;
}

@media screen and (max-width: 767px) {
    .cards {
        padding: 36px 0 0 0;
        width: calc(100% - 200px);
    }
}