.page {
    display: flex;
    flex-direction: column;
    max-width: 880px;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    background: #000000;
    font-family: 'Inter', 'Arial', 'SansSerif';
}

@media screen and (max-width: 1279px) {
    .page {
        width: calc(100% - 200px);
    }
}