.page {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    background: #000000;
    font-family: Inter, Arial, SansSerif;
}