.profile {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content) auto;
    grid-template-rows: minmax(max-content, max-content);
    width: calc(100% - 400px);
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
    gap: 30px;
    padding: 40px 0 0 0;
    grid-template-areas: "avatar title edit_button add_button" "avatar title edit_button add_button";
}

@media screen and (max-width: 1023px) {
    .profile {
        width: calc(100% - 200px);
        justify-content: center;
        grid-template-areas: "avatar title edit_button" "avatar title edit_button" "add_button add_button add_button";
    }
}

@media screen and (max-width: 767px) {
    .profile {
        gap: 0;
        justify-content: center;
        width: calc(100% - 32px);
        grid-template-areas: "avatar avatar" "title edit_button" "subtitle subtitle" "add_button add_button";
    }
}