.popup__form {
    width: calc(100% - 72px);
    margin-bottom: 37px;
}

@media screen and (max-width: 767px) {
    .popup__form {
        width: calc(100% - 44px);
        margin-bottom: 24px;
    }
}