.popup__input-subtitle {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-right: auto;
    margin-left: auto;
    height: 27px;
    margin-top: 29px;
    padding: 0;
    width: calc(100% - 72px);
}

@media screen and (max-width: 767px) {
    .popup__input-subtitle {
        width: calc(100% - 44px);
    }
}