.popup__image-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
    width: calc(100% - 72px);
    white-space: nowrap;
    margin: 10px auto 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .popup__image-title {
        width: calc(100% - 44px);
        margin-bottom: 75px;
    }
}