.popup-profile__container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 195px;
    align-items: center;
    z-index: 4;
    max-width: 430px;
    background: #FFFFFF;
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    .popup-profile__container {
        top: 123px;
        max-width: 282px;
    }
}