.cards__reaction {
    width: 22px;
    height: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: reaction;
    border: none;
    margin: auto;
    background-color: transparent;
}

.cards__reaction:hover {
    opacity: 0.5;
    cursor: pointer;
}